header{
    width: 99vw;
    height: 100vh;
    position: relative;
    top: 0;
    background: linear-gradient(#012734, #000e27);
    overflow: hidden;
}
.header__container{
    display: grid;
    grid-template-columns: 43% 53%;
    gap: -1%;
    margin-top: 10rem;
    position: relative;
}

.header__image-bg{
    background: #003347;
    height: 22rem;
    width: 16rem;
    position: absolute;
}

.header__image-lg{
    width: 29rem;
    position: relative;
    top: 1rem;
    left: 1rem;
    filter: saturate(0) brightness(.3);
    transition: var(--transition);
}

.header__image-sm{
    width: 28rem;
    height: 28rem;
    overflow: hidden;
    position: absolute;
    left: 6rem;
    top: 6rem;
    transition: var(--transition);

 
   
}

.header__image-sm:hover{
    opacity: 0;

}

.header__image-lg:hover {
    filter: saturate(1) brightness(1);
    border: 1rem solid #003347;
    top: 0;
    left: 0;

}

.empty{
    margin-top: 20px;
    height: 3.5rem;
    width: 18rem;
    background-color: var(--color-bg-2);
    border-radius: calc(3.5rem / 2);
    margin-bottom: 3.5rem;
    box-shadow: inset 0 1rem 1rem rgba(0,0,0,0.3);
    border: 1px solid var(--color-bg-4);
}
.header__tag{
    position: relative;
    right: -110%;
    top: 10px;

}
.header__head p{
    margin-top: 50px;
}
/*========================== Frames =========================================*/
.header__frames{
    position: absolute;
    top: 88vh;
    right: 64rem;
    transition: var(--transition);
}
.header__frame{
    width: 14rem;
    border: .4rem solid var(--color-bg-3);
    box-shadow:  0 0 4rem rgba(0,0,0,0.5);
    position: absolute;
    transform: rotate(-10deg);
    transform-origin: bottom left;
    transition: var(--transition);

}
.header__frame:nth-child(2){
    transform: rotate(20deg);
    top: -2rem;
    left: 3rem;
}
.header__frames:hover .header__frame{
    transform: rotate(0);
}

.header__frames:hover .header__frame:nth-child(2){
     top: 0;
     left: 15rem;
}