@media screen and (max-width: 1024px) {
   
    body{
        background: red;
    }

    
    .container{
        width: 92%;
        position: relative;

     
        .arrow,
        .nav__socials,
        .nav__search,
        .search_icon,
        .shop_cart{
            display: none;
        }
        
        .logo_text{
            position: absolute;
            left: 0;
            margin-left: 50px;
            
            
        }
        .navbar__links{
            position: absolute;
            top: 100%;
            right: 0;
            flex-direction: column;
            gap: 0;
            display: none;
            perspective: 400px;
        }

        .navbar__links li{
            height: 5rem;
            box-shadow: -3rem 3rem 3rem rgba(0,0,0,0.7);
            animation: navAnimation 600ms ease forwards;
            transform: rotateX(90deg);
            opacity: 0;
            transform-origin: top;
        }
        .navbar__links li:first-child{
            animation-delay: 100ms;
        }
        

        @keyframes navAnimation {
            to {
                transform: rotateX(0);
                opacity: 1;
            }
        }
        .navbar__links li a{
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 1rem 5rem 1rem 3rem;
            border: 1px solid #001e2f;
            background:#003347;
        }

        .nav__toggle-btn{
            display: inline-block;
            font-size: 2rem;
            background: transparent;
            color: #fff;
            cursor: pointer;
        }

        #nav__toggle-close{
            display: none;
        }
    }
   


}




