@media screen and (max-width: 1024px) {
    .container{
        width: var(--container-width-md);
        position: relative;
    }

    h1{
        font-size: 2.5rem;
        line-height: 1.3rem;
    }

    h2{
        font-size: 2.5rem;
    }

    .nav__social{
        display: flex;
    }

    .nav__links{
        position: absolute;
        top: 100%;
        gap: 0;
        flex-direction: column;
        right: 0;
        display: none;
    }

    .nav__links li {
        height: 5rem;
        box-shadow: -3rem 3rem 3rem rgba(0,0,0,0.7);
    }

    .nav__links li a{
        background: var(--color-bg-4);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 5rem 1rem 3rem;
        border-top: 1px solid var(--color-bg-2);
    }

    .nav__toggle-btn{
        display: inline-block;
        font-size: 2rem;
        background: transparent;
        cursor: pointer;
        color: var(--color-white);
    }

    #nav__toggle-close{
        display: none;
    }
}