nav{
    height: 5rem;
    width: 100vw;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    

    

    .nav__container{
       
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
   
    }



    .nav__toggle-btn{
        display: none;
        
    }

    .nav__logo{
        width: 2.5rem;
    }

    .logo_text{
       position: relative;
       right: 18.8%;
        cursor: pointer;
    }
    .navbar__links{
        display: flex;
        gap:3rem;
       
        
    }



    .navbar__links img{
        width: 1.3rem;
        margin-left:-40px;
    }

    .nav__socials{
        
        width: 8rem;
        display: flex;
        gap: 1rem;
    }
    .nav__socials a:hover{
        box-shadow: 0 1rem rgba(154, 150, 150, 0.7);
    }
    
}

