nav{
    height: 5rem;
    width: 100vw;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    

    

    .nav__container{
       
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
   
    }



    .nav__toggle-btn{
        display: none;
        
    }

    .nav__logo{
        width: 2.5rem;
    }

    .logo_text{
       position: absolute;
       left: 9.8rem;
        cursor: pointer;
    }
    .navbar__links{
        display: flex;
        gap:3rem;
       margin-left: 13rem;
      
        
    }



    .navbar__links img{
        width: 1.3rem;
        margin-left:-40px;
    }
    .nav__search{
        
        width: 144px;
        height: 30px;
        border-radius: 10px;
        padding-left: 30px;
        border-color: transparent;
    }

    .nav__socials{
        
        
        display: flex;
        gap: 1rem;
    }
    .nav__socials .search_icon{
        width: 18px;
        position: relative;
        top: 25px;
        left: 7px;
    }
    
    .shop_cart{
        width: 2.5rem;
        cursor: pointer;
        margin-top: 10px;
    }
  
    
}

