:root {
  --color-primary:#ff7b02;
  --color-primary-variant:#e5affd;
  --color-bg-1:#000e27;
  --color-bg-2:#001e2f;
  --color-bg-3:#012734;
  --color-bg-4:#003347;
  --color-light:#85a2b2;
  --color-white:#fff;
  --color-bg-4:hsl(0 , 0% , 90%);
  /*
    --color-primary:#ff7b02;
    --color-primary-variant:#e5affd;
    --color-bg-1:#000e27;
    --color-bg-2:#001e2f;
    --color-bg-3:#012734;
    --color-bg-4:#003347;
    --color-bg-light:#85a2b2;
    --color-bg-4:hsl(0 , 0% , 90%);
*/
  --container-width-lg: 88%;
  --container-width-md: 92%;
  --transition: all 400ms ease;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-bg-3);
  color: var(--color-light);
  line-height: 1.7;
}

h1, h2 {
  font-weight: 400;
  line-height: 1.1;
}

h1 {
  font-size: 4rem;
  color: var(--color-white);
}

h2 {
  font-size: 3.5rem;
}

a {
  color: var(--color-light);
  transition: var(--transition);
}

a:hover {
  color: var(--color-primary);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  max-width: 2160px;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.window-scrolled {
  background-color: var(--color-bg-2);
  border-bottom: 0.2rem solid var(--color-bg-3);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

nav {
  height: 5rem;
  width: 100vw;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

nav .nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav__toggle-btn {
  display: none;
}

nav .nav__logo {
  width: 2.5rem;
}

nav .logo_text {
  position: absolute;
  left: 9.8rem;
  cursor: pointer;
}

nav .navbar__links {
  display: flex;
  gap: 3rem;
  margin-left: 13rem;
}

nav .navbar__links img {
  width: 1.3rem;
  margin-left: -40px;
}

nav .nav__search {
  background-color: #313333;
  width: 144px;
  height: 30px;
  border-radius: 10px;
  padding-left: 30px;
  border-color: transparent;
}

nav .nav__socials {
  display: flex;
  gap: 1rem;
}

nav .nav__socials .search_icon {
  width: 18px;
  position: relative;
  top: 25px;
  left: 7px;
}

nav .shop_cart {
  width: 2.5rem;
  cursor: pointer;
  margin-top: 10px;
}

header {
  max-width: 199vw;
  height: 100vh;
  position: relative;
  top: 0;
  background: linear-gradient(#012734, #000e27);
  overflow: hidden;
}

.header__container {
  display: grid;
  grid-template-columns: 43% 53%;
  gap: -1%;
  margin-top: 10rem;
  position: relative;
}

.header__left {
  position: relative;
}

.header__image-bg {
  position: absolute;
  background: #003347;
  height: 22rem;
  width: 16rem;
  position: absolute;
}

.header__image-lg {
  width: 29rem;
  position: relative;
  top: 1rem;
  left: 1rem;
  filter: saturate(0) brightness(0.3);
  transition: var(--transition);
}

.header__image-sm {
  width: 28rem;
  height: 28rem;
  overflow: hidden;
  position: absolute;
  left: 6rem;
  top: 6rem;
  transition: var(--transition);
}

.header__image-sm:hover {
  opacity: 0;
}

.header__left:hover .header__image-lg {
  filter: saturate(1) brightness(1);
  border: 1rem solid #003347;
  top: 0;
  left: 0;
}

.empty {
  margin-top: 20px;
  height: 3.5rem;
  width: 18rem;
  background-color: var(--color-bg-2);
  border-radius: calc(3.5rem / 2);
  margin-bottom: 3.5rem;
  box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

.header__empty {
  border: none;
}

.header__tag {
  position: relative;
  right: -110%;
  top: 10px;
}

.text_sky {
  width: 70px;
  margin-left: auto;
  position: relative;
  right: 13rem;
  bottom: 4rem;
}

.header__head p {
  margin-top: 10px;
  line-height: 2rem;
  font-size: 1.3rem;
}

/*========================== Frames Photos=========================================*/
.header__frames {
  position: absolute;
  top: 88vh;
  right: 64rem;
  transition: var(--transition);
}

.header__frame {
  width: 14rem;
  border: 0.4rem solid var(--color-bg-3);
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);
  position: absolute;
  transform: rotate(-10deg);
  transform-origin: bottom left;
  transition: var(--transition);
}

.header__frame:nth-child(2) {
  transform: rotate(20deg);
  top: -2rem;
  left: 3rem;
}

.header__frames:hover .header__frame {
  transform: rotate(0);
}

.header__frames:hover .header__frame:nth-child(2) {
  top: 0;
  left: 15rem;
}

/*========================== Frames contact Button Circular=========================================*/
.contact__btn {
  color: var(--color-bg-1);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: var(--transition);
}

.header__btn {
  background: linear-gradient(-30deg, #c8684b, #373737, #f80000);
  position: absolute;
  right: 6%;
  bottom: -3rem;
}

.header__btn:hover {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-1rem);
  color: var(--color-bg-1);
}

.contact__btn i {
  font-size: 3rem;
  position: absolute;
  color: #fff;
}

.contact__btn p {
  font-size: .7rem;
  font-weight: 600;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  animation: spinText 15s linear infinite;
  color: #fff;
}

.contact__btn p span {
  position: absolute;
  transform-origin: .4rem 5rem;
}

@keyframes spinText {
  to {
    transform: rotate(360deg);
  }
}

#about {
  margin-top: 18rem;
}

.about__container {
  display: grid;
  grid-template-columns: 10rem 26rem auto;
  gap: 5rem;
  position: relative;
}

.about__title {
  position: absolute;
  top: -7rem;
  z-index: 1;
}

.about__btn {
  margin-bottom: 10rem;
  align-self: end;
}

.about__btn .about__btn-text {
  color: #a0a0a0;
  font-size: 15px;
}

.about__btn .about__btn-text:hover {
  color: #34868e;
  transition: var(--transition);
}

.about__btn:hover {
  transform: translateY(-1rem);
  color: aqua;
}

.about__image {
  position: relative;
}

.about__image-bg {
  width: 16rem;
  height: 24rem;
  position: absolute;
  bottom: 0;
  background-color: var(--color-bg-2);
}

.about__image-lg {
  position: relative;
  left: 1rem;
  bottom: 1rem;
  filter: saturate(0) brightness(0.3);
  transition: 500ms ease;
}

.about__image-sm {
  position: absolute;
  top: 3rem;
  left: 8rem;
  width: 22rem;
  height: 22rem;
  box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: 500ms ease;
}

.about__image:hover .about__image-sm {
  opacity: 0;
}

.about__image:hover .about__image-lg {
  filter: saturate(1) brightness(1);
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
  border: 1rem solid var(--color-bg-1);
  left: 0;
  bottom: 0;
}

.bubble {
  position: relative;
  bottom: 10rem;
  border: none;
  height: 3.5rem;
  width: 18rem;
  background-color: var(--color-bg-2);
  border-radius: calc(3.5rem / 2);
  box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

.about__right {
  width: 20rem;
  margin-left: 5rem;
  margin-top: 15rem;
}

.about__right p {
  position: relative;
  bottom: 6rem;
  margin: 0 4rem 1.5rem 0;
  width: 40rem;
  height: 8rem;
  line-height: 3rem;
}

#gallery {
  margin-top: 12rem;
}

.gallery__head {
  display: flex;
  justify-content: space-between;
}

.gallery__container p {
  width: 45rem;
}

.swiper-wrapper {
  margin-top: 5rem;
  height: 37rem;
  padding-bottom: 5rem;
}

.swiper-slide {
  border: .5rem solid #003347;
  height: fit-content;
  max-height: 36rem;
  overflow: hidden;
  transition: var(--transition);
}

.swiper-slide:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
}

.swiper-slide img {
  filter: saturate(0);
  transition: var(--transition);
}

.swiper-slide:hover img {
  filter: saturate(1);
}

.swiper-pagination-bullet {
  background: red;
}
/*# sourceMappingURL=style.css.map */